
@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}


@keyframes chgposition {
    0%   {top: 0px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0px;}
}

div.animitem {
	float: right;
	position: relative;
	height: 100px;
	width: 100px;
	background: green;
}

div.animitem div {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 10px;
	left: 10px;
	background: red;
	font-size: 10px;
	text-align: center;
	animation: chgposition 5s infinite;
	animation-iteration-count: 4;

}

div.animitem div:hover{
	border: 2px solid black;
	opacity: 70;
	width: 150px;
	height: 150px;
	font-size: 20px;
	background: yellow;
}



div.hoveritem {
	position: relative;
	height: 100px;
	width: 100px;
	background: blue;
}

div.hoveritem div {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 10px;
	left: 10px;
	background: red;
	font-size: 10px;
	text-align: center;
	transition: all 5s ease-in-out 1s;
}

div.hoveritem div:hover{
	border: 2px solid black;
	opacity: 70;
	width: 150px;
	height: 150px;
	font-size: 20px;
	background: yellow;
}



@font-face {
    font-family: '28_days_laterregular';
    src: url('Fonts/28_days_later-webfont.eot');
    src: url('Fonts/28_days_later-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/28_days_later-webfont.woff2') format('woff2'),
         url('Fonts/28_days_later-webfont.woff') format('woff'),
         url('Fonts/28_days_later-webfont.ttf') format('truetype'),
         url('Fonts/28_days_later-webfont.svg#28_days_laterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
			font-family: "28_days_laterregular";
			margin: 0;
			padding: 0;
			background: blue;
			}

		.header {
			text-align: center;
			width: 100%;
			height: 100px;
			background: gray;
			font-size: 30px;
			font-style: bold;
		}

		.leftcolumn {
			width: 28%;
			margin: 1% 1%;
			padding: 10px 20px;
			float: left;
			height: 400px;
			background: blue;
			font-size: 30px;
			font-style: italic;
			box-sizing: border-box;
		}

		.rightcolumn {
			width: 68%;
			margin: 1% 1%;
			height: 400px;
			padding: 10px 20px;
			float: left;
			background: green;
			font-size: 30px;
			font-style: italic;
			box-sizing: border-box;
		}

		.footer {
			clear: both;
			text-align: center;
			width: 100%;
			height: 100px;
			background: red;
			font-size: 30px;
			}
		.footer:hover {
			background: grey;
		}

		li, td {

			background: #ffffcc;
			font-size: 30px;
			font-style: italic; 
		}

		ul li:first-child, ul li:last-child {
				background-color: blue;
		}

		td.redove {

			background: #22bbcc;
			font-size: 30px;
			font-style: italic; 
		}

		.redovete {

			background: #22bbcc;
			font-size: 50px;
			font-style: italic; 
		}

		@bodycolor: #aabbcc;

		body {
			background: @bodycolor;
			margin: 0px;
		}
		.red, p {
			color: red;
		}

		
		.bold {
			font-weight: bold;
		}
		.italic {
			font-style: italic;
		}
*:focus {
	background-color: orange;
}
.top {
	width: 50px;
	height: 50px;
	opacity: 0.5;
	background-color: green;
	position: fixed;
	z-index: 1;
	right: 20px;
	bottom:20px;
	display: table;
	text-align: center;
}
.top p {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-size: 10px;
	display: table-cell;
}
.top:hover {
	background-color: orange;
}
.ab {
	position: relative;
	width: 500px;
	height: 500px;
	background-color: black;
}
.ba {
	position: absolute;
	width: 20%;
	height: 100px;
	top: 25px;
	left: 40%;
	background-color: white;
}

		