body {
	margin: 0;
	padding: 0;
}
#site{
	position: static;
	margin: 0 auto;
	width: 1000px;
	}

.header {
		width: 960px;
		background-color: #32CD32;
		text-align: left;
		padding: 20px 20px;
		}

.menu {
		width: 960px;
		background-color: #008000;
		text-align: right;
		padding: 5px 20px;
	}

.navbar {
		width: 30%;
		padding: 20px 20px;
		float: left;
		height: 100%;
		background: #DCDCDC;
		font-size: 20px;
		font-family: Verdana;
		box-sizing: border-box;
		}

.content {
			width: 70%;
			padding: 10px 20px;
			float: left;
			background: #F5F5F5;
			font-size: 14px;
			font-family: Verdana;
			color: #808080;
			box-sizing: border-box;
			}

.footer {
		width: 1000px;
		height: 50px;
		background: #ADFF2F;
		clear: both;
		}

#logo {
	display: table-cell;
	float: left;
	height: 10%;
	}

#menu1 {
		display: inline;
		padding-left: 20px;
		font-family: Verdana;
		font-size: 20px;
		color: #F8F8FF;
		text-decoration: none;

	}

h1 {
	float: left;
	display: table-cell;
	margin-left: 50px;
	text-align: left;
	font-family: Verdana;
	color: white;
	font-size: 50px;
	}

h2 {
	font-family: Verdana;
	font-size: 30px;
	}

h3 {
	font-family: Verdana;
	font-size: 20px;
	color: #696969;
	}

li a {
	text-decoration: none;
	color: #32CD32;
}

li a:hover {
		background-color: #ADFF2F;
		}

img {
	border: 2px solid gray;
	}

span {
	font-family: Verdana;
	font-style: italic;
	color: #32CD32;
}	



